.header{
    height: 8vh;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 8px 5px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.options p:hover{
    color: orange;
    cursor: pointer;
}

#pMid{
    padding-left: 30px;
    padding-right: 30px;
}

#user{
    height: 34px
}
#user:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#basket{
    height: 35px
}
#basket:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.login-basket{
    
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
#user{
    padding-right: 20px;
}

.logo{
    width: 33%;
}
#logo{
    height: 55px;
    padding-left: 30px;
}
#logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}