.dropdownLink{
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
    margin-right: 0.75rem;

}

.showDropdown{
    position: fixed;
    padding-top: 1rem;
}
.hideDropdown{
    display: none;
}

.showUserDropdown {
    position: fixed;
    margin-left: 0.5rem;
}

.hideUserDropdown {
    display: none;
}