.dropdownLink{
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
    margin: 0.75rem;
    
}

.showDropdown{
    position: fixed;
    padding-top: 1rem;
}

.hideDropdown{
    display: none;
}