@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mainHeaderDiv{
    height: 10vh;
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
}


.logoDiv{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
}
.logo {
    height: 100%;
    min-height: 50px;
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
}

.navbarDiv{
    height: 100%;
    min-height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navList{
    list-style: none;
    display: flex;
}
.navLink{
    text-decoration: none;
    color: white;
    margin: 2rem;
    font-family: Poppins, sans-serif ;
    font-weight: 4000;
}
.iconsDiv {
    height: 100%;
    min-height: 50px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconsList{
    display: flex;
    list-style: none;
}
.icon{
    color: white;
    margin: 1rem;
    font-size: 1.8rem;
}
.mouseHover:hover{
    cursor: pointer;
    opacity: 0.6 ;
    transition: 0.3s;
}
.overlay-container{
    display: none;
}

@media only screen and (max-width:850px) {
    .icon{
        margin: 0.2rem
    }
    .navbarDiv{
        display: none;
    }
    .logoDiv{
        width: 100%;
    }
    
    .overlay-container{
        display: flex;
        border: 1px solid wheat;

    }
}
@media only screen and (max-width:500px) {
    .logoDiv, .iconsDiv{
        z-index: 123;
        margin-top: -2rem;
    }
}