@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navBar{

    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navBar li {
    list-style: none;
    padding-right: 2rem;
}
.navBar a{
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
}

.logo{
    height: 10vh;
    margin-left: 5rem;
    margin-top: 1rem;
}
.icons{
    background-color: black;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
}
.icon{
    color: white;
    padding-right: 2.2rem;
}
.icon:hover, a:hover{
    color: rgb(90, 86, 78);
    cursor: pointer;
    transition: 0.2s;
}
